  .activity-log {
      position: relative;
  }

  .activity {
      align-items: center;
      margin: 15px 0;
  }

  .activity-details {
      flex-direction: column;
  }

  .avatar {
      padding-right: 15px;

  }