header {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .15);
    padding: 5px 10px;
    
    // color: white;
    a {
        color: white;
    }
    .main-logo {
        font-family: 'Megrim-Regular';
        font-size: 2rem;
    }
}