.board-menu {
    background-color: whitesmoke;
    max-height: 90vh;
    width: 400px;
    position: absolute;
    right: 0;
    top: 12vh;
    padding: 25px 35px;
    overflow-y: auto;
}
.board-header .clean-input{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.slide-from-right-enter-active {
    transition: all 0.2s ease-in;
}

.slide-from-right-leave-active {
    transition: all 0.2s ease-in;
}

.slide-from-right-leave-to {
    right:-350px

}

.slide-from-right-enter {
    right:-300px
}
