* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    color: $clr2;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

body {
    margin: 0;
}

main,
footer {
    padding: 5px;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    font-family: Helvetica;
}