.header-btn {
    background-color: rgba(245, 245, 245, 0.534);
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: 5px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.781);
    }
}

.cta-btn {
    padding: 18px 26px;

}

button {
    border: none;
    transition: all .2s ease;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: white;
}

.btn-success {
    background-color: #5aac44;
    color: #fff;
    font-size: 14px;
}

.btn-danger {
    background-color: #cf513d;
    color: #fff;
    font-size: 14px;
}

.btn-gray {
    background-color: $lightgray;
    font-size: 14px;
    margin: 0 0 0 5px;
}