.task-details-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .task-details {
        background-color: #F4F5F7;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 768px;
        min-height: 50vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 15rem;

        .main {
            grid-column: 1;
        }

    }
}

.action-bar {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .action-bar-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }

    .action {
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        width: 168px;


    }
}

.pop-up {
    width: 304px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .pop-up-header {
        width: 100%;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        margin: 0 12px;
        padding: 0 32px;
        display: flex;
        justify-content: center;

    }

    .pop-up-title {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
    }

    input {
        width: 100%;
        margin: 10px 0 12px;
    }

}

.main-pop-up {
    width: 100%;
    padding: 0 12px 12px;

}

.task-labels {

    .labels-list {
        padding-right: 36px;
        position: relative;
    }

    .label {
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 32px;
        padding: 6px 12px;
        position: relative;
    }
}

.members-labels {

    .labels-preview {
        flex-direction: column;

        label-preview-title {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .04em;
            line-height: 16px;
            margin-top: 16px;
            text-transform: uppercase;
            line-height: 20px;
            margin: 0 8px 4px 0;
        }

        div {
            border-radius: 3px;
            box-sizing: border-box;
            display: block;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto;

        }
    }
}