.task-details-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: scroll;

    .task-details {
        background-color: #F4F5F7;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 768px;
        min-height: 50vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 15rem;

        .main {
            grid-column: 1;
        }

        .main-title {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }

        .sub-title {
            margin-bottom: 30px;
            font-size: 0.9rem;
        }

        .details-title {
            margin-left: 7px;
            font-size: 1rem;
        }

    }
}

.action-bar {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .action-bar-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }

    .action {
        background-color: $lightgray;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        width: 168px;


    }
}

.pop-up {
    width: 304px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .pop-up-header {
        width: 100%;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        margin: 0 12px;
        padding: 0 32px;
        display: flex;
        justify-content: center;
        position: relative;
        color: #5e6c84;

        i {
            position: absolute;
            right: 14px;
            top: 12px;
            cursor: pointer;
        }

    }

    .pop-up-title {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
    }

    input {
        width: 100%;
        margin: 10px 0 12px;
    }

}

.main-pop-up {
    width: 100%;
    padding: 0 12px 12px;

}

.task-labels {

    .labels-list {
        padding-right: 36px;
        position: relative;

        .edit-pen {
            right: -33px;
            position: absolute;

            &:hover {
                background-color: rgba(9, 30, 66, .08);

            }
        }

        .label {
            color: white;

            i {
                color: #42526e;
            }
        }

    }

    button {
        background-color: rgba(9, 30, 66, .06);
        box-shadow: none;
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        border: none;
        display: inline-block;
        line-height: 20px;
        margin: 10px 4px 0 0;
        padding: 6px 12px;
        text-decoration: none;
        position: relative;
        width: 100%;
        font-size: 14px;
        color: #172b4d;

        &:hover {
            background-color: rgba(9, 30, 66, .08);
        }
    }

    .label {
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 32px;
        padding: 6px 12px;
        position: relative;
    }
}

.members-labels {

    .labels-preview {
        flex-direction: column;
        margin-bottom: 10px;

        div {
            border-radius: 3px;
            box-sizing: border-box;
            display: block;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto;
            color: white;
        }

        span {
            flex-wrap: wrap;
        }
    }
}

.label-buttons {
    display: flex;
    justify-content: space-between;
}

.description-input {
    background-color: $lightgray;
    width: 100%;
    padding: 10px 0 0 10px;
}

.uppercase-title {
    color: #5e6c84;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.description {
    h1 {
        display: inline-block;
    }
}