.task-details-modal {
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;

    .task-details {
        background-color: #F4F5F7;
        margin: 48px 0 80px;
        position: relative;
        width: 768px;
        padding: 20px 7px 20px 33px;
        border-radius: 2px;
        margin: 48px 0 80px;

        .details-close {
            position: absolute;
            right: 30px;
        }

        .details-header {

            .main-title {
                margin: 0;
                padding: 0;
                font-size: 1.3rem;
                font-weight: bold;
                width: 100%;
            }

            .sub-title {
                margin: 0;
                font-size: 0.85rem;

                span {
                    text-decoration: underline;
                }
            }

        }

        .details-body {
            display: grid;
            grid-template-columns: 1fr 13rem;

            .main-details {
                grid-column: 1;
                margin-top: 12px;
            }
        }
    }
}

.action-bar {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    ul:first-child {
        margin: 0;
    }

    .action-bar-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }

    .action {
        background-color: $lightgray;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        width: 168px;


    }
}

.pop-up {
    width: 304px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .pop-up-header {
        width: 100%;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        margin: 0 12px;
        padding: 0 32px;
        display: flex;
        justify-content: center;
        position: relative;

        i {
            position: absolute;
            right: 14px;
            top: 12px;
            cursor: pointer;
        }

    }

    .pop-up-title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
        color: #5e6c84c2;
    }

    input {
        width: 100%;
        margin: 10px 0 12px;
    }

}

.main-pop-up {
    width: 100%;
    padding: 0 12px 12px;
    margin-top: 13px;

}

.task-labels {


    .labels-list {
        padding-right: 36px;
        position: relative;

        .edit-pen {
            right: -33px;
            position: absolute;

            &:hover {
                background-color: rgba(9, 30, 66, .08);

            }
        }

        .label {
            color: white;

            i {
                color: #42526e;
            }
        }

    }

    button {
        background-color: rgba(9, 30, 66, .06);
        box-shadow: none;
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        border: none;
        display: inline-block;
        line-height: 20px;
        margin: 10px 4px 0 0;
        padding: 6px 12px;
        text-decoration: none;
        position: relative;
        width: 100%;
        font-size: 14px;
        color: #172b4d;

        &:hover {
            background-color: rgba(9, 30, 66, .08);
        }
    }

    .label {
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 32px;
        padding: 6px 12px;
        position: relative;
    }
}


.labels-preview {
    flex-direction: column;
    margin-bottom: 10px;

    .label-preview {
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        float: left;
        font-weight: 600;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        min-width: 40px;
        padding: 0 12px;
        width: auto;
        color: white;
    }

    span {
        flex-wrap: wrap;
    }
}



.label-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.description-input {
    background-color: $lightgray;
    width: 100%;
    padding: 10px 0 30px 10px;

    &:focus {
        background-color: white;
    }
}

.uppercase-title {
    color: #5e6c84;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.label-edit {
    position: relative;

    i {
        position: absolute;
        top: -64px;
        cursor: pointer;
    }
}

.task-members-edit .flex {
    align-items: baseline;
    justify-content: space-between;

    p {
        margin-left: 15px;
    }

    cursor: pointer;

}

.details-title {
    margin-left: 10px;
    font-size: 1rem;
    display: inline-block;
}